<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" charset="UTF-8" lang="en-us" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link asp-href-include="~/lib/font-awesome/css/*.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="/css/site.min.css" />*@


    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="left">
            <div class="logo">
                <img src="/images/share.png"><a>ONE CONNECTION</a>
            </div>
        </div>
        <div class="right">
            <ol class="nav">
                <li><a asp-controller="Product" asp-action="Index">Home Page</a></li>
                <li><a asp-controller="Account" asp-action="Login">Log In</a></li>
                <li><a asp-controller="Product" asp-action="List">Products</a></li>
                <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>

                @*<li><a asp-action="Create">Add Item</a></li>*@
            </ol>
            @if (User.Identity.IsAuthenticated)
            {
            <div id="userinfo">
                <p id="info"><i class="fa fa-user-o" aria-hidden="true" style="padding-right:5px;"></i>@User.Identity.Name</p>
                <br />
                <a class="btn btn-sm btn-primary" asp-action="Logout" asp-controller="Account" id="logout"><i class="fa fa-sign-out" aria-hidden="true" style="padding-right:5px;"></i>Log Out</a>
            </div>
            }
        </div>
       
    </header>
    @RenderBody()
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({ once: true });
    </script>

    <footer>
        <a>&copy; Copyright 2018 Viet Cuong Nguyen - 300973502</a>
    </footer>
</body>
</html>
