<link href="~/css/bootstrap.min.css" rel="stylesheet" />


<div id="allpage-thanks">
    <div id="thanks">
        <div class="text-center" style="margin-top: 130px">

            <h1 class="display-4">Thanks!</h1>
            <h3>Thanks for placing your order.</h3>
            <h3>We'll ship your goods as soon as possible.</h3>

        </div>
    </div>
</div>