
@{
    Layout = "_Layout";
}
    <div class="intro">
        <h1 class="white margin-bottom-double" data-aos="fade-down" data-aos-duration="1700">Makes your connection faster and smarter</h1>
        <div class="headline" data-aos="fade-up">

            <h2 data-aos="fade-left" data-aos-delay="300">Are you looking for high quality, afforable network equipments?</h2>
            <P>
                <a data-aos="fade-right"  data-aos-delay="300">One Connection is an online store with various finest network equipments. Our goal is to unlock the unlimit of your network to connect with the world. Established in the beginning of 2018, our store is one of fastest growing online store in Canada. </a>
            </P>
            <div class="icon">
                <img src="/images/wifi.png" data-aos="fade-up"  data-aos-delay="500">
                <img src="/images/data-storage-discs-stack.png" data-aos="fade-up"  data-aos-delay="300">
                <img src="/images/lan.png" data-aos="fade-up">
                <img src="/images/tools-and-utensils.png" data-aos="fade-up"  data-aos-delay="300">
                <img src="/images/hard-disk.png" data-aos="fade-up"  data-aos-delay="500">
                 
        </div>
        </div>
        
    </div>
    <div class="category">
        <h1 id="introduction"> Product Category</h1>
        <div class="item1" data-aos="fade-up-left">
             <div class="info">
            <h1>Router</h1>
            <a>A router connects networks. Based on its current understanding of the state of the network it is connected to, a router acts as a dispatcher as it decides which way to send each information packet. A router is located at any gateway (where one network meets another), including each point-of-presence on the internet. A router is often included as part of a network switch.</a>
        </div>
               <hr/>
        <div class="img1">
        <img src=/images/router.jpg>
            </div>
      
    </div>
    <div class="item2" data-aos="fade-up-right">
        <div class="img">
        <img src=/images/hub.jpg>
            </div>
        <hr/>
        <div class="info">
            <h1>Hub</h1>
            <a>is the most basic networking device that connects multiple computers or other network devices together. Unlike a network switch or router, a network hub has no routing tables or intelligence on where to send information and broadcasts all network data across each connection. Most hubs can detect basic network errors such as collisions, but having all information broadcast to multiple ports can be a security risk and cause bottlenecks. There are two types: passive and active.</a>
        </div>
    </div>
        <div class="item1" data-aos="fade-up-left">
             <div class="info">
            <h1>Transceiver</h1>
            <a>is a device comprising both a transmitter and a receiver which are combined and share common circuitry or a single housing. When no circuitry is common between transmit and receive functions, the device is a transmitter-receiver.  The word "transceiver" is a contraction of (radio) transmitter-receiver, so it is a device which contains both. A "walkie-talkie" is one example, a cell phone is another. The former is a simple device. You can either listen or talk.</a>
        </div>
               <hr/>
        <div class="img1">
        <img src=/images/transceiver.png>
            </div>
      
        
    </div>
         
        <div class="item2" data-aos="fade-up-right">
        <div class="img">
        <img src=/images/repeater.jpg>
            </div>
        <hr/>
        <div class="info">
            <h1>Repeater</h1>
            <a>A network device used to regenerate or replicate a signal. Repeaters are used in transmission systems to regenerate analog or digital signals distorted by transmission loss. Analog repeaters frequently can only amplify the signal while digital repeaters can reconstruct a signal to near its original quality.</a>
        </div>
    </div>
        
        <div class="item1" data-aos="fade-up-left">
             <div class="info">
            <h1>Gateways</h1>
            <a>A is a node on a network that serves as an entrance to another network. In enterprises, the gateway is the computer that routes the traffic from a workstation to the outside network that is serving the Web pages. In homes, the gateway is the ISP that connects the user to the internet.</a>
        </div>
               <hr/>
        <div class="img1">
        <img src=/images/gateway.png>
            </div>
      
    </div>
         
        </div>

